.login {
    max-width: 900px;
    margin: 30px auto;
    text-align: center;
    background-color: green;
    color: white;
}
.block {
    max-width: 900px;
    margin: 30px auto;
    border: 1px solid grey;
    box-shadow: 2px 1px 8px 2px whitesmoke;
    border-radius: 5px;
    display: flex;
    padding: 45px;

}

.left-block {
    width: 50%;
}

.h2 {
    padding: 10px 0;
    font-weight: normal;
}

.h2,
.h3_1,
.h3_2,
.p {
    margin: 0;
}

.h3_1,
.h3_2 {
    font-weight: lighter;
}

.p {
    margin-left: 10px;
    margin-top: 5px;
}

.left-block_name {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.left-block_email {
    margin: 20px 0;
}
.password {
    display: flex;
    justify-content: space-between;
}

.input-padding {
    padding: 7px 18px;
    border-radius: 5px;
    margin: 0 2px;
   
}

.demo {
    width: 373px;
}

.checkbox-section {
    margin-top: 10px;
}

.click {
    margin-right: 20px;
}

.link-button {
    margin: 50px 0 30px 0;
}

.link {
    text-decoration: none;
    margin-right: 260px;
}

.button {
    padding: 4px 12px;
    border-radius: 5px;
    background-color: blue;
    color: white;
}

.right-block {
    width: 50%;
    margin-top: 90px;
    text-align: center;
    margin-right: 80px;
}
.error {
    color: red;
}