.body {
    margin: 0;
    background-color: #f4f5f9;
}

.header,
.nav,
.main,
.footor {
    max-width: 1366px;
    margin: 0 auto;
}

.header{
    background-color: white;
}

.inner-header {
    display: flex;
    padding: 0 20px;
    background-color: #015172;
    color: white;
}

.inner-header_left,
.inner-header_right {
    width: 50%;
}

.inner-header_left {
    padding: 8px;
}

.inner-header_right {
    text-align: right;
}

.inner-header_text {
    padding: 0 10px;
    text-decoration: none;
    color: white;
}

.search {
    position: relative;
    padding: 8px;
}

.search-logo {
    color: #015172;
    background-color: white;
    border: none;
    position: absolute;
    right: 200px;
    top: 10px;
}

.header-logo {
    padding: 5px 30px;
    border-bottom: 1px solid grey;
}
.nav {
    background-color: white;
}

.inner-nav {
    text-align: center;
    padding: 15px;
}

.nav-link {
    text-decoration: none;
    padding: 0 20px;
    font-size: large;
    font-weight: bold;
    color: #007fb9;
}

.banner {
    position: relative;
}

.banner-text,
.banner-get {
    text-align: center;
    font-size: 69px;
    font-weight: bold;
    position: absolute;
    top: 269px;
    left: 400px;
}

.banner-get {
    top: 497px;
    left: 657px;
    font-size: 18px;
    padding: 11px 40px;
    background-color: #006792;
    color: white;
}

.inner-main_1,
.inner-main_3banner-text {
    background-color: white;
    text-align: center;
    margin-top: 20px;
    padding: 50px 0;
}

.more-doctor {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}

.more-doctor_para {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 23px;
}

.dash-line {
    font-weight: 900;
    color: #007fb9;
    margin-bottom: 80px;
}

.icon-display {
    display: flex;
    justify-content: center;
}

.icon-padding {
    color: #007fb9;
    font-size: 18px;
    font-weight: bold;
    padding: 0 80px;
}

.inner-main_2 {
    display: flex;
    padding: 60px 200px;
}

.inner-main_2text {
    padding: 5px 0 0 50px;
}

.inner-main_2text h2 {
    font-size: 30px;
    font-weight: bold;
}

.inner-main_2text p {
    font-size: 19px;
    font-weight: 300;
}

.inner-main_2text a {
    text-decoration: none;
    font-weight: bold;
    color: #007fb9;
}

.inner-main_3 {
    background-color: white;
}

.inner-main_3img {
    display: flex;
}

.inner-main_3banner-block1,
.inner-main_3banner-block2 {
    padding: 20px 110px;
}

.across-h2 {
    margin: 10px;
}

.block1-section,
.block2-section {
    display: flex;
    text-align: center;
    background-color: #f4f5f9;
    height: 180px;
}

.block1-section_content {
    width: 25%;
    border: 1px solid gainsboro;
}

.block1-section_content h1,
.block2-section_content h1 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: lighter;
}

.block1-section_content hr,
.block2-section_content hr {
    width: 15px;
    height: 2px;
    background-color: #007fb9;
}

.block1-section_content h2,
.block2-section_content h2 {
    margin: 5px;
}

.block1-section_content h5,
.block2-section_content h5 {
    margin: 0;
    font-size: 16px;
    font-weight: lighter;
}

.block1-section_content p {
    margin: 0;
    font-size: 10px;
}

.block2-section_content {
    background-color: #007fb9;
    width: 33.33%;
    color: white;
}

.block2-section_content hr {
    background-color: white;
}

.last-main_block {
    margin: 50px;
    text-align: center;
}

.last-main_block-text1 {
    border: 1px solid gainsboro;
    padding: 8px 25px;
    background-color: #007fb9;
    color: white;
}

.last-main_block-text2 {
    color: #006792;
    margin-left: 20px;
}

.inner-footer {
    justify-content: center;
    padding: 25px;
    display: flex;
    align-items: center;
}

.contact-name {
    color: #333333;
    font-size: 14px;
}

.contact-no {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.contact-b {
    padding: 0px 20px;
    font-size: 35px;
    font-weight: lighter;
    color: #333333;
}

.footer-block {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px;
}

.footer-nav {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.nav-footer-links {
    margin: 0px 15px;
    font-size: 14px;
}

.social-icons {
    margin: 3px;
}

.footer-heading {
    font-size: 13px;
    font-weight: bold;
}

.partners {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.partners-h {
    font-size: 12px;
    color: gray;
    font-weight: bold;
}

.footer-adress {
    font-size: 12px;
    padding: 3px;
}

.license {
    font-size: 10px;
    padding: 10px;
    color: gray;
}

.partners-li {
    font-size: 14px;
    padding: 0px 10px;
}

.license-box {
    padding: 10px;
}