.header {
    background-color: white;
}

.inner-header {
    display: flex;
    padding: 0 20px;
    background-color: #015172;
    color: white;
}

.inner-header_left,
.inner-header_right {
    width: 50%;
}

.inner-header_left {
    padding: 8px;
}

.inner-header_right {
    text-align: right;
}

.inner-header_text {
    padding: 0 10px;
    text-decoration: none;
    color: white;
}

.search {
    position: relative;
    padding: 8px;
}

.search-logo {
    color: #015172;
    background-color: white;
    border: none;
    position: absolute;
    right: 200px;
    top: 10px;
}

.header-logo {
    padding: 5px 30px;
    border-bottom: 1px solid grey;
}