.nav {
    background-color: white;
}

.inner-nav {
    text-align: center;
    padding: 15px;
}

.nav-link {
    text-decoration: none;
    padding: 0 20px;
    font-size: large;
    font-weight: bold;
    color: #007fb9;
}

.banner {
    position: relative;
}

.banner-text,
.banner-get {
    text-align: center;
    font-size: 69px;
    font-weight: bold;
    position: absolute;
    top: 264px;
    left: 400px;
}

.banner-get {
    top: 501px;
    left: 657px;
    font-size: 18px;
    padding: 11px 40px;
    background-color: #006792;
    color: white;
}