@mixin inner-nav {
    text-align: center;
    padding: 15px;
}

@mixin nav-link {
    text-decoration: none;
    padding: 0 20px;
    font-size: large;
    font-weight: bold;
    color: #007fb9;
}

@mixin banner {
    position: relative;
}

@mixin banner-text_get {
    text-align: center;
    font-size: 63px;
    font-weight: bold;
    position: absolute;
    top: 271px;
    left: 400px;
}

@mixin banner-get {
    top: 505px;
    left: 657px;
    font-size: 18px;
    padding: 11px 40px;
    background-color: #006792;
    color: white;
}
