.body {
  margin: 0;
  background-color: #f4f5f9;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.header,
.nav,
.main {
  max-width: 1366px;
  margin: 0 auto;
  background-color: white; }

.inner-header {
  display: flex;
  padding: 8px 20px;
  background-color: #015172;
  color: white; }

.inner-header_left,
.inner-header_right {
  width: 50%; }

.inner-header_right {
  text-align: right; }

.inner-header_text {
  padding: 0 10px;
  text-decoration: none;
  color: white; }

.search {
  position: relative; }

.search-logo {
  color: #015172;
  background-color: white;
  border: none;
  position: absolute;
  right: 200px;
  top: 10px; }

.header-logo {
  padding: 5px 30px;
  border-bottom: 1px solid grey; }

.inner-nav {
  text-align: center;
  padding: 15px; }

.nav-link {
  text-decoration: none;
  padding: 0 20px;
  font-size: large;
  font-weight: bold;
  color: #007fb9; }

.banner {
  position: relative; }

.banner-text,
.banner-get {
  text-align: center;
  font-size: 63px;
  font-weight: bold;
  position: absolute;
  top: 271px;
  left: 400px; }

.banner-get {
  top: 505px;
  left: 657px;
  font-size: 18px;
  padding: 11px 40px;
  background-color: #006792;
  color: white; }
