.form {
    max-width: 400px;
    margin: 0 auto;
    background-color:rgb(175, 211, 231);
    border-radius: 30px;
    box-shadow: 2px 2px 6px 8px whitesmoke;
    padding: 20px;
    text-align: center;
}

.input-group {
    position: relative;
    margin-top: 50px;
}
.error {
    color: red;
}

.input {
    padding: 10px;
    border: none;
    width: 100%;
    box-sizing: border-box;
    border-radius: 30px;
    font: inherit;
    color: #242329;
    background-color: transparent;
    outline: 2px solid #242329;
}

.input-label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transition: transform .25s;
}

.input:focus+.input-label,
.input:valid+.input-label {
    transform: translate(10px, -14px) scale(.8);
    color: #d1c5fc;
    padding-inline: 5px;
    background-color: #242329;
}

.input:is(:focus, :valid) {
    outline-color: red;
}
button {
    font-size: 20px;
    padding: 8px 15px;
    border-radius: 20px 10px;
    background-color: rgb(252, 137, 208);
}
button:hover {
    background-color: green;
    color: white;
}